#board {
	display: flex;
	flex-wrap: wrap;
	max-width: 450px;
	margin: 0 auto;
}
.cell {
    position: relative;
	width: 50px;
	height: 50px;
	border: 1px solid black;
}
.cell--light {
	background-color: rgba(255, 255, 240, 0.5);
}
.cell--dark {
	background-color: rgba(42, 35, 34, 0.8);
}
.number {
	width: 25px;
	height: 25px;
	color: #a9e609;
	position: absolute;
	top: 0;
	right: 0;
}
.number--text {
    margin: 5px 10px;
    font-weight: bold;
}
.letter {
	width: 25px;
	height: 25px;
	color: #a9e609;
	position: absolute;
	bottom: 0;
	left: 0;
}
.letter--text {
    margin: 5px;
    font-weight: bold;
}
.figure {
    font-size: 35px;
    width: 25px;
    margin-left: 8px;
}